* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 650px;
  opacity: 80%;
  background-image: url("./Image.png");
  background-size: cover;
  /* border: 2px solid red; */
  background-color: #482be7;
  overflow: hidden;
}
.header {
  width: 972px;
  height: 40px;
  margin-top: 54px;
  margin-left: 213px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
.header-left {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: -0.2926828861236572px;
  text-align: center;
  color: #ffffff;
}
.header-middle {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  gap: 20px;
  display: flex;
}
.header-middle img {
  color: red;
}
.img-1 {
  padding-top: 5px;
}
.btn {
  width: 120px;
  height: 40px;
  border-radius: 100px;
  background-color: #482be7;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-color: transparent;
}
.text {
  width: 698px;
  height: 172px;
  margin-top: 100px;
  margin-left: 345px;
  /* border: 2px solid red; */
  font-family: DM Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
}
.text-1 {
  width: 513px;
  height: 128px;
  margin-top: 70px;
  margin-left: 444px;
  /* border: 2px solid red; */
}
.text-1 p {
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  width: 450px;
}
